// header
.header{
  background: $mc_gradient-blue;
  color: $fc_white;
  padding: 24px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  @include tab{
    padding: 24px;
  }
  @include sp{
    padding: 24px;
  }
}

.header__inner{
  display: flex;
  justify-content: space-between;
}

.header__logo{
  line-height: 1;
  a{
    font-size: 30px;
    font-family: $ff-en-maru;
    color: $fc_white;
    line-height: 1;
    margin-top: 10px;
    transition: all 0.5s ease;
      &:hover{
        border-bottom: 3px solid $fc_white;
      }
      @include sp{
        font-size: 24px;
      }
  }
}

.header__menu-toggle{
  display: none;
  @include tab{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 48px;
    width: 44px;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 24px;
    z-index: 100;
  }
}

.header__menu-icon {
  background-color: $fc_white;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.4s ease-in-out 0s;
  position: absolute;
  &:nth-child(1){
    top: 8px;
  }
  &:nth-child(2){
    top: 16px;
  }
  &:nth-child(3){
    top: 24px;
  }
}

.header__menu-label{
  font-size: 14px;
  color: $fc_white;
  padding: 0 4px;
  transition: all 0.4s ease-in-out 0s;
  position: absolute;
  top: 34px;
}

.header__nav-links{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  @include tab{
    display: none;
  }

  li{
    list-style: none;
    margin-left: 24px;
    @include sp{
      margin-left: 0;
    }

    a{
      font-size: 16px;
      font-weight: bold;
      display: block;
      color: $fc_white;
      font-family: $ff-gothic;
      transition: all 0.3s ease-in-out;
      &:hover{
        border-bottom: 1px solid $fc_white;
      }
      @include tab{
        font-size: 16px;
      }
    }
    .header__nav-cta{
      border: 1px solid $bgc_white;
      border-radius: 32px;
      padding: 8px 16px;
      background-color: $bgc_white;
      color: $mc_blue;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
      &:hover{
        color: $fc_white;
        background-color: $mc_blue;
        border: 1px solid $fc_white;
      }
      @include tab{
        border: none;
        background-color: transparent;
        font-weight: normal;
        padding: 24px;
      }
    }
  }
}

.active{
  .header__menu-toggle{
    .header__menu-icon{
      &:nth-child(1){
        -webkit-transform: translateY(0) rotate(225deg);
        -ms-transform: translateY(0) rotate(225deg);
        transform: translateY(0) rotate(225deg);
        top: 16px;
      }
      &:nth-child(2){
        -webkit-transform: translateY(0) rotate(-225deg);
        -ms-transform: translateY(0) rotate(-225deg);
        transform: translateY(0) rotate(-225deg);
      }
      &:nth-child(3){
        display: none;
      }
    }
    .header__menu-label{
      display: none;
    }
  }
  .header__nav-links{
    @include tab{
      display: block;
      position: absolute;
      height: 100vh;
      background: $mc_gradient-blue;
      top: 0;
      width: 100%;
      left: 0;
      padding: 50px 30px;
      text-align: center;
      z-index: 99;
    }
  }
    li{
      width: 100%;
      a{
        @include tab{
          padding: 30px;
          border-bottom: 1px solid $fc_white;
        }
      }
    }
  }
  
// header end

// keyvisual

.keyvisual{
  background: $mc_gradient-blue;
  color: $fc_white;
  padding: 96px 24px 64px 24px;
  @include tab{
    padding: 88px 24px 24px 24px;
  }
  @include sp{
    padding: 64px 24px 48px 24px;
  }
}

.keyvisual__inner{
  display: flex;
  justify-content: flex-start;
  @include sp{
    flex-wrap: wrap;
  }
}

.keyvisual__text{
  margin-top: 56px;
  margin-right: 120px;
  max-width: 680px;
  @include tab{
    margin-right: 64px;
  }
  @include sp{
    margin: 0;
    width: 100%;
    order: 2;
  }
}

.keyvisual__text-ttl{
  font-size: 36px;
  margin-bottom: 32px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include tab{
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.keyvisual__text-subttl{
  font-size: 24px;
  margin-bottom: 64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include tab{
    font-size: 16px;
    margin-bottom: 24px;
  }
  @include sp{
    text-align: justify;
  }
}

.keyvisual__btn{
  margin-bottom: 32px;
  @include tab{
    margin-bottom: 16px;
  }
  @include sp{
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
}

.keyvisual__btn-app{
  margin-right: 32px;

  @include sp{
    display: block;
    width: 50%;
    margin-right: 0;
  }
  img{
    width: 195px;
    height: 65px;
    @include sp{
      width: 100%;
    }
  }
}
.keyvisual__btn-goo{
  @include sp{
    display: block;
    width: 50%;
  }

  img{
    width: 195px;
    height: 65px;
    @include sp{
      width: 100%;
    }
  }
}

.keyvisual__eyecatch{
  margin-top: 8px;
  @include tab{
    margin-right: 24px;
  }
  @include sp{
    margin: 0;
    order: 1;
    width: 100%;
    padding:48px 24px 24px 24px;
    text-align: center;
  }
  img{
    max-width: 232px;
    height: auto;
    transform: rotate(10deg);
    @include sp{
      width: 100%;
    }
  }
}

// keyvisual end

// feature
.feature{
  padding: 48px 24px 64px 24px;
  background-color: $bgc_light-blue;
  @include sp{
    padding: 48px 24px 48px 24px;
  }
}

.feature__card{
  display: flex;
  justify-content: start;
  background-color: $bgc_white;
  border: 1px solid $bgc_glay;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 48px;
  padding-left: 64px;
  position: relative;
  &:last-child{
    margin-bottom: 0;
  }
  @include tab{
    padding-left: 32px;
    margin-bottom: 24px;
  }
  @include sp{
    flex-wrap: wrap;
    padding: 24px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.feature__card-text{
  max-width: 60%;
  width: 100%;
  margin-top: 88px;
  margin-bottom: 40px;
  margin-right: 64px;

  @include tab{
    margin-top:64px;
    margin-right: 24px;
    margin-bottom: 24px;
  }
  
  @include sp{
    max-width: 100%;
    order: 2;
    margin: 0;
  }
}

.feature__text-number{
  position: absolute;
  top: 0;
  left: -1px;
  background: $mc_gradient-blue;
  color: $fc_white;
  padding: 0 29px;
  font-size: 48px;
  font-family: 'Great Vibes', cursive;
  font-style: italic;
  @include tab{
    font-size: 32px;
    padding: 0 16px;
  }
}

.feature__text-subttl{
  font-size: 16px;
  color: $fc_glay;
}

.feature__text-ttl{
  font-size: 30px;
  margin-bottom: 8px;
  @include tab{
    font-size: 20px;
  }
}

.feature__text-description{
  text-align: justify;
  font-size: 20px;
  @include tab{
    font-size: 16px;
  }
}

.feature__card-images{
  margin: 8px;
  @include sp{
    width: 100%;
    order: 1;
    padding: 0 25%;
    margin-bottom: 16px;
  }
  img{
    width: 200px;
    height: auto;
    @include sp{
      width: 100%;
    }
  }
}

.feature__card-images--square{
  margin: 24px 24px 24px 0;
  @include sp{
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
  }
  img{
    width: 350px;
    height: auto;
    @include sp{
      width: 100%;
    }
  }
}
// feature end

// voice
.voice{
  padding: 48px 24px 64px 24px;
  background-color: $bgc_white;
}

.voice__ttl{
  margin-bottom: 16px;
  @include sp{
    font-size: 20px;
  }
}

.voice__subttl{
  font-size: 16px;
  margin-bottom: 48px;
  text-align: center;
  @include tab{
    margin-bottom: 24px;
  }
}

.voice__contents{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 48px;
  @include tab{
    flex-wrap: wrap;
    gap: 0;
  }
}

.voice__contents-card{
  padding: 24px;
  border-radius: 5px;
  border: 1px solid $bgc_glay;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  max-width:33.3%;
  width: 100%;
  &:last-child{
    margin-right: 0;
  }
  @include tab{
    max-width: 100%;
    width: 100%;
    margin-bottom: 24px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.voice__card-ttl{
  font-size: 20px;
  margin-bottom: 16px;
  @include sp{
    font-size: 16px;
  }
}

.voice__card-evaluation{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 16px;
  width: 100%;
}

.voice__card-evaluation-text{
  font-weight: bold;
  margin-right: 16px;
}

.voice__card-evaluation-star{
  font-size: 16px;
  margin-right: 16px;
  color: $ac_yellow;
}

.voice__card-comment{
  text-align: justify;
  margin-bottom: 16px;
}

.voice__card-user{

}
// voice end

// plan
.plan{
  padding: 48px 24px 64px 24px;
  background-color: $bgc_light-blue;
}

.plan__table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 48px;
  border: none;
  @include tab{
    margin-bottom: 24px;
  }

  th{
    font-size: 16px;
    padding: 16px;
    @include sp{
      font-size: 14px;
      padding: 10px;
    }
  }
  td{
    padding: 16px;
    border: 1px solid $fc_glay;
    font-weight: bold;
    text-align: center;
    @include sp{
      padding: 10px;
    }
  }

  tbody tr:nth-child(even) {
    background-color: $bgc_light-blue;
  }
  tbody tr:nth-child(odd) {
    background-color: $bgc_white;
  }
  tbody td:nth-child(3) {
    border-left: 3px solid $mc_blue;
    border-right: 3px solid $mc_blue;
  }
}

.plan__thead-blank{
  border: none;
}

.plan__thead-free{
  background-color:$fc_glay;
  color: $fc_white;
  font-weight: bold;
  text-align: center;
  border: 1px solid $fc_glay;
}

.plan__thead-pay{
  background-color: $mc_blue;
  color: $fc_white;
  font-weight: bold;
  text-align: center;
  border: 3px solid $mc_blue;
}

.far.plan__table-circle{
  color: $mc_blue;
  font-size: 24px;
  display: block;
  @include sp{
    font-size: 16px;
  }
}

.plan__table-triangle{
  img{
    width: 30px;
    height: auto;
    display: block;
    margin: 0 auto;
    @include sp{
      width: 20px;
    }
  }
}

.fas.plan__table-cross{
  font-size: 24px;
  color: $ac_orange;
  display: block;
  @include sp{
    font-size: 16px;
  }
}

.plan__price-row{
  .plan__price-row-pay{
    border-bottom: 3px solid $mc_blue;
  }
}

.plan__cta-btn{
  text-align: center;
  margin: 0 auto;
}

// plan end

// question
.question{
  padding: 48px 24px 64px 24px;
  background-color: $bgc_white;
}

.question__card{
  position: relative;
  padding: 24px;
  margin-bottom: 48px;
  border-radius: 5px;
  background-color: $bgc_white;
  border: 1px solid $bgc_glay;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  &:last-child{
    margin-bottom: 0;
  }
  @include tab{
    margin-bottom: 24px;
  }
  @include sp{
    padding: 16px;
  }
}

.question__card-ttl{
  font-size: 20px;
  margin-bottom: 16px;
  @include sp{
    font-size: 16px;
    width: 80%;
    margin-bottom: 0;
  }
}

// sp時のみ表示
.question__card-btn{
  top: 8px;
  right: 16px;
  width: 44px;
  height: 44px;
  background-color:$mc_blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: none;
  @include sp{
    display: block;
  }
}

.question__card-btn::before,
.question__card-btn::after {
  content: "";
  position: absolute;
  background-color: $bgc_white;
  transition: all 0.3s ease-in-out;
}

.question__card-btn::before {
  width: 60%;
  height: 3px;
  top: 21px;
  left: 9px;
}

.question__card-btn::after {
  width: 3px;
  height: 60%;
  top:  9px;
  left: 21px;
}

.turn.question__card-btn::before,
.turn.question__card-btn::after {
  -webkit-transform: translateY(0) rotate(135deg);
  -ms-transform: translateY(0) rotate(135deg);
  transform: translateY(0) rotate(135deg);
}

.question__card-description{
  margin-left: 56px;
  @include sp{
    margin-left: 0;
    display: none;
    margin-top: 16px;
  }
}
// question end

// start
.start{
  padding: 48px 24px 64px 24px;
  background-color: $bgc_light-blue;
}

.start__contents{
  display: flex;
  justify-content: space-between;
  @include sp{
    flex-wrap: wrap;
  }
}

.start__contents-text{
  margin-right: 56px;
  max-width: 554px;
  width: 100%;
  @include sp{
    max-width: 100%;
    margin-right: 0;
    width: 100%;
    margin-bottom: 24px;
    text-align: justify;
  }
}

.start__text-ttl{
  font-size: 30px;
  margin-bottom: 24px;
  @include tab{
    font-size: 24px;
  }
  @include sp{
    text-align: center;
  }
}

.start__text-subttl{
  font-size: 16px;
}

.start__contents-btn{
  width: 100%;
  max-width: 430px;
  @include sp{
    max-width: 100%;
  }
}

.start__btn-group{
  margin-bottom: 32px;
  display: flex;
  max-width: 430px;
  width: 100%;
  justify-content: space-between;
  @include sp{
    max-width: 100%;
    margin-bottom: 16px;
  }
}

.start__btn-app{
  margin-right: 32px;
  display: block;
  @include sp{
    margin-right: 16px;
    width: 100%;
  }
  img{
    width: 200px;
    height: 65px;
    @include sp{
      width: 95%;
    }
  }
}

.start__btn-goo{
  @include sp{
    display: block;
    width: 100%;
  }
  img{
    width: 200px;
    height: 65px;
    @include sp{
      width: 100%;
    }
  }
}

// start end
.footer{
  padding: 48px 24px 64px 24px;
  background: $mc_gradient-blue;
}

.footer__contents{
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  @include sp{
    margin-bottom: 24px;
    flex-wrap: wrap;
  }
  li{
    list-style: none;
    margin-right: 48px;
    &:last-child{
      margin-right: 0;
    }
    @include sp{
      margin-right: 0;
      width: 100%;
      margin-bottom: 24px;
      text-align: center;
    }
    a{
      display: block;
      color: $fc_white;
      font-size: 16px;

    }
  }
}
.footer__contents-copyright{
  font-size: 20px;
  color: $fc_white;
  text-align: center;
  @include sp{
    font-size: 16px;
  }
}
// footer end


// under-construction page

.under-construction{
  padding: 144px 24px;
  background-color: $bgc_light-blue;
  @include sp{
    padding: 96px 24px 64px 24px;
  }
}

.un__contents{
  display: flex;
  justify-content: space-between;
  @include sp{
    flex-wrap: wrap;
    width: 100%;
  }
}

.un__contents-eyecatch{
  width: 40%;
  @include sp{
    width: 100%;
    padding-left: 50px;
    margin-bottom: 30px;
  }
  img{
    max-width: 526px;
    width: 100%;
    height: auto;
    @include sp{
      max-width: 100%;
    }
  }
}

.un__contents-text{
  width: 60%;
  margin-top: 60px;
  @include sp{
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
}

.un__text-ttl{
  font-size: 32px;
  margin-bottom: 32px;
  @include sp{
    font-size: 24px;
  }
}

.un__text-description{
  font-size: 20px;
  margin-bottom: 64px;
  @include sp{
    font-size: 16px;
  }
}

.un__text-btn{
  padding: 15px 0;
  text-align: center;
  display: block;
  color: $mc_blue;
  max-width: 430px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid $mc_blue;
  background-color: $bgc_white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  &:hover{
    box-shadow: none;
    background-color: $mc_blue;
    color: $fc_white;
  }
  @include sp{
    font-size: 16px;
    padding: 10px 0;
    margin: 0 auto;
  }
}
// under-construction end


// アニメーション
.keyvisual .inner--s {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.keyvisual .inner--s.show {
  opacity: 1;
  transform: translateY(0);
}

.section .inner--s {
  opacity: 0; 
  transform: translateY(50px); 
  transition: all 0.5s ease-in-out;
}

.section .inner--s.show {
  opacity: 1; 
  transform: translateY(0);
}

.section .inner--m {
  opacity: 0; 
  transform: translateY(50px); 
  transition: all 0.5s ease-in-out;
}

.section .inner--m.show {
  opacity: 1; 
  transform: translateY(0);
}

.feature__card {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.feature__card.show{
  opacity: 1; 
  transform: translateY(0); 
}

.un__contents {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.un__contents.show {
  opacity: 1;
  transform: translateY(0);
}