// ctaボタン
.cta_btn{
  padding: 15px 0;
  text-align: center;
  display: block;
  color: $BaseColor1;
  max-width: 430px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  font-family: $ff-ja-maru;
  border-radius: 10px;
  background-color: $AccentColor1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.7s;
  @include tab{
    font-size: 16px;
    max-width: 350px;
  }
  @include sp{
    max-width: 100%;
  }
}

.btn{
  transition: all 0.5s ease;
  &:hover{
    box-shadow: none;
    opacity: 0.7;
  }
}

.sec_hed{
  text-align: center;
  font-size: 30px;
  font-family: $ff-ja-maru;
  margin-bottom: 30px;
  line-height: 1;
  @include tab{
    font-size: 24px;
  }
  @include sp{
    font-size: 20px;
    margin-bottom: 20px;
  }
}