@charset "UTF-8";
/*
    リセットCSS等の基本設定
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #363636;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
a, p, span,
blockquote, code,
ol, ul, li, dl, dt, dd,
div, section, article, main, aside,
nav, header, footer,
img, figure, figcaption,
address, time, audio, video,
iframe, fieldset,
form, label, table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #363636;
}

th, td {
  border: 1px solid #363636;
}

input, textarea {
  padding: 8px;
  border: 1px solid #363636;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}
input:focus, textarea:focus {
  outline: none;
  border: 1px solid #363636;
  box-shadow: none;
}

textarea {
  resize: none;
}

input[type=submit] {
  cursor: pointer;
  border: none;
}
input[type=submit]:hover, input[type=submit]:focus {
  outline: none;
  border: none;
}
input[type=submit] ::-moz-focus-inner {
  padding: 0;
  border: none;
}
input[type=radio] {
  display: none;
}
input[type=radio] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
}
input[type=radio] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #363636;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=radio] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=radio] + span:focus, input[type=radio] + span:checked {
  outline: none;
  border: 1px solid #fff;
  box-shadow: none;
  background: #363636;
}
input[type=radio]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.2em;
  transform: translateY(-50%);
  background: #363636;
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
  display: block;
  opacity: 1;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
input[type=checkbox] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #363636;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=checkbox] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=checkbox]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  width: 1em;
  height: 0.6em;
  margin-top: -0.2em;
  display: block;
  border-left: 3px solid #363636;
  border-bottom: 3px solid #363636;
  opacity: 1;
}

select {
  width: 100%;
  padding: 8px 24px 8px 8px;
  border-radius: 0;
  background-image: none;
  border: 1px solid #363636;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select:focus {
  outline: none;
  border: 1px solid #363636;
  box-shadow: none;
}

.hidden {
  display: none;
}

.wrapper {
  overflow: hidden;
}

.inner--m {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.inner--s {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

.cta-btn {
  padding: 24px 0;
  text-align: center;
  display: block;
  color: #fff;
  max-width: 430px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  line-height: 1;
  border-radius: 5px;
  background-color: #e76f51;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  border: 1px solid #e76f51;
}
.cta-btn:hover {
  background-color: #ffffff;
  color: #e76f51;
  box-shadow: none;
  border: 1px solid #e76f51;
}
@media (max-width: 768px) {
  .cta-btn {
    max-width: 100%;
    padding: 20px 0;
    font-size: 16px;
  }
}

.btn {
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: none;
  opacity: 0.6;
}

.section__ttl {
  text-align: center;
  font-size: 32px;
  font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  margin-bottom: 48px;
  line-height: 1;
}
@media (max-width: 992px) {
  .section__ttl {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.marker {
  background-color: rgba(231, 111, 81, 0.4);
}

.highlight {
  font-size: 24px;
  font-weight: bold;
  line-height: 0;
  color: #0f19bf;
  margin-right: 16px;
}
@media (max-width: 768px) {
  .highlight {
    font-size: 16px;
  }
}

.header {
  background: linear-gradient(270deg, #0f19bf, #071359);
  color: #ffffff;
  padding: 16px 24px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
@media (max-width: 992px) {
  .header {
    padding: 24px 24px 16px 24px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 16px 24px;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__logo a {
  font-size: 30px;
  font-family: "Quicksand", "Helvetica Neue", sans-serif;
  color: #ffffff;
  line-height: 1;
  margin-top: 10px;
  transition: all 0.5s ease;
}
.header__logo a:hover {
  border-bottom: 3px solid #ffffff;
}
@media (max-width: 768px) {
  .header__logo a {
    font-size: 24px;
  }
}

.header__menu-toggle {
  display: none;
}
@media (max-width: 992px) {
  .header__menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 56px;
    width: 48px;
    padding: 0;
    position: relative;
    z-index: 100;
  }
}

.header__menu-icon {
  background-color: #ffffff;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.4s ease-in-out 0s;
}

.header__menu-label {
  font-size: 14px;
  color: #ffffff;
  padding: 0 7px;
}

.header__nav-links {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  transition: all 0.5s ease;
}
@media (max-width: 992px) {
  .header__nav-links {
    display: none;
  }
}
.header__nav-links li {
  list-style: none;
  margin-left: 24px;
}
@media (max-width: 768px) {
  .header__nav-links li {
    margin-left: 0;
  }
}
.header__nav-links li a {
  font-size: 20px;
  font-weight: bold;
  display: block;
  color: #ffffff;
  font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  transition: all 0.3s ease-in-out;
}
.header__nav-links li a:hover {
  border-bottom: 3px solid #ffffff;
}
@media (max-width: 992px) {
  .header__nav-links li a {
    font-size: 16px;
  }
}
.header__nav-links li .header__nav-cta {
  border: 1px solid #ffffff;
  border-radius: 32px;
  padding: 8px 16px;
  background-color: #ffffff;
  color: #0f19bf;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.header__nav-links li .header__nav-cta:hover {
  color: #ffffff;
  background-color: #0f19bf;
  border: 1px solid #ffffff;
}
@media (max-width: 992px) {
  .header__nav-links li .header__nav-cta {
    border: none;
    background-color: transparent;
    font-weight: normal;
    padding: 24px;
  }
}

@media (max-width: 992px) {
  .active .header__menu-toggle .header__menu-icon:nth-child(1) {
    transform: translateY(0) rotate(225deg);
    position: absolute;
    top: 10px;
  }
  .active .header__menu-toggle .header__menu-icon:nth-child(2) {
    transform: translateY(0) rotate(-225deg);
  }
  .active .header__menu-toggle .header__menu-icon:nth-child(3) {
    display: none;
  }
}
@media (max-width: 992px) {
  .active .header__nav-links {
    display: block;
    position: absolute;
    height: 100vh;
    background: linear-gradient(270deg, rgba(15, 25, 191, 0.9), rgba(7, 19, 89, 0.9));
    top: 0;
    width: 100%;
    left: 0;
    padding: 50px 30px;
    text-align: center;
    z-index: 99;
  }
}
.active li {
  width: 100%;
}
@media (max-width: 992px) {
  .active li a {
    padding: 30px;
    border-bottom: 1px solid #f5f5f5;
  }
}

.keyvisual {
  background: linear-gradient(270deg, #0f19bf, #071359);
  color: #ffffff;
  padding: 96px 24px 64px 24px;
}
@media (max-width: 992px) {
  .keyvisual {
    padding: 88px 24px 24px 24px;
  }
}
@media (max-width: 768px) {
  .keyvisual {
    padding: 64px 24px 48px 24px;
  }
}

.keyvisual__inner {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .keyvisual__inner {
    flex-wrap: wrap;
  }
}

.keyvisual__text {
  margin-top: 56px;
  margin-right: 120px;
  max-width: 680px;
}
@media (max-width: 992px) {
  .keyvisual__text {
    margin-right: 64px;
  }
}
@media (max-width: 768px) {
  .keyvisual__text {
    margin: 0;
    width: 100%;
    order: 2;
  }
}

.keyvisual__text-ttl {
  font-size: 36px;
  margin-bottom: 32px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 992px) {
  .keyvisual__text-ttl {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.keyvisual__text-subttl {
  font-size: 24px;
  margin-bottom: 64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 992px) {
  .keyvisual__text-subttl {
    font-size: 16px;
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .keyvisual__text-subttl {
    text-align: justify;
  }
}

.keyvisual__btn {
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .keyvisual__btn {
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .keyvisual__btn {
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
}

.keyvisual__btn-app {
  margin-right: 32px;
}
@media (max-width: 768px) {
  .keyvisual__btn-app {
    display: block;
    width: 50%;
    margin-right: 0;
  }
}
.keyvisual__btn-app img {
  width: 195px;
  height: 65px;
}
@media (max-width: 768px) {
  .keyvisual__btn-app img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .keyvisual__btn-goo {
    display: block;
    width: 50%;
  }
}
.keyvisual__btn-goo img {
  width: 195px;
  height: 65px;
}
@media (max-width: 768px) {
  .keyvisual__btn-goo img {
    width: 100%;
  }
}

.keyvisual__eyecatch {
  margin-top: 8px;
}
@media (max-width: 992px) {
  .keyvisual__eyecatch {
    margin-right: 24px;
  }
}
@media (max-width: 768px) {
  .keyvisual__eyecatch {
    margin: 0;
    order: 1;
    width: 100%;
    padding: 48px 24px 24px 24px;
    text-align: center;
  }
}
.keyvisual__eyecatch img {
  max-width: 232px;
  height: auto;
  transform: rotate(10deg);
}
@media (max-width: 768px) {
  .keyvisual__eyecatch img {
    width: 100%;
  }
}

.feature {
  padding: 48px 24px 64px 24px;
  background-color: #eef4ff;
}
@media (max-width: 768px) {
  .feature {
    padding: 48px 24px 48px 24px;
  }
}

.feature__card {
  display: flex;
  justify-content: start;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 48px;
  padding-left: 64px;
  position: relative;
}
.feature__card:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .feature__card {
    padding-left: 32px;
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .feature__card {
    flex-wrap: wrap;
    padding: 24px;
  }
  .feature__card:last-child {
    margin-bottom: 0;
  }
}

.feature__card-text {
  max-width: 60%;
  width: 100%;
  margin-top: 88px;
  margin-bottom: 40px;
  margin-right: 64px;
}
@media (max-width: 992px) {
  .feature__card-text {
    margin-top: 64px;
    margin-right: 24px;
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .feature__card-text {
    max-width: 100%;
    order: 2;
    margin: 0;
  }
}

.feature__text-number {
  position: absolute;
  top: 0;
  left: -1px;
  background: linear-gradient(270deg, #0f19bf, #071359);
  color: #ffffff;
  padding: 0 29px;
  font-size: 48px;
  font-family: "Great Vibes", cursive;
  font-style: italic;
}
@media (max-width: 992px) {
  .feature__text-number {
    font-size: 32px;
    padding: 0 16px;
  }
}

.feature__text-subttl {
  font-size: 16px;
  color: #999999;
}

.feature__text-ttl {
  font-size: 30px;
  margin-bottom: 8px;
}
@media (max-width: 992px) {
  .feature__text-ttl {
    font-size: 20px;
  }
}

.feature__text-description {
  text-align: justify;
  font-size: 20px;
}
@media (max-width: 992px) {
  .feature__text-description {
    font-size: 16px;
  }
}

.feature__card-images {
  margin: 8px;
}
@media (max-width: 768px) {
  .feature__card-images {
    width: 100%;
    order: 1;
    padding: 0 70px;
    margin-bottom: 16px;
  }
}
.feature__card-images img {
  width: 200px;
  height: auto;
}
@media (max-width: 768px) {
  .feature__card-images img {
    width: 100%;
  }
}

.feature__card-images--square {
  margin: 24px 24px 24px 0;
}
@media (max-width: 768px) {
  .feature__card-images--square {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
  }
}
.feature__card-images--square img {
  width: 350px;
  height: auto;
}
@media (max-width: 768px) {
  .feature__card-images--square img {
    width: 100%;
  }
}

.voice {
  padding: 48px 24px 64px 24px;
  background-color: #ffffff;
}

.voice__ttl {
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .voice__ttl {
    font-size: 20px;
  }
}

.voice__subttl {
  font-size: 16px;
  margin-bottom: 48px;
  text-align: center;
}
@media (max-width: 992px) {
  .voice__subttl {
    margin-bottom: 24px;
  }
}

.voice__contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 48px;
}
@media (max-width: 992px) {
  .voice__contents {
    flex-wrap: wrap;
    gap: 0;
  }
}

.voice__contents-card {
  padding: 24px;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 33.3%;
  width: 100%;
}
.voice__contents-card:last-child {
  margin-right: 0;
}
@media (max-width: 992px) {
  .voice__contents-card {
    max-width: 100%;
    width: 100%;
    margin-bottom: 24px;
  }
  .voice__contents-card:last-child {
    margin-bottom: 0;
  }
}

.voice__card-ttl {
  font-size: 20px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .voice__card-ttl {
    font-size: 16px;
  }
}

.voice__card-evaluation {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 16px;
  width: 100%;
}

.voice__card-evaluation-text {
  font-weight: bold;
  margin-right: 16px;
}

.voice__card-evaluation-star {
  font-size: 16px;
  margin-right: 16px;
  color: #ffc107;
}

.voice__card-comment {
  text-align: justify;
  margin-bottom: 16px;
}

.plan {
  padding: 48px 24px 64px 24px;
  background-color: #eef4ff;
}

.plan__table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 48px;
  border: none;
}
@media (max-width: 992px) {
  .plan__table {
    margin-bottom: 24px;
  }
}
.plan__table th {
  font-size: 16px;
  padding: 16px;
}
@media (max-width: 768px) {
  .plan__table th {
    font-size: 14px;
    padding: 10px;
  }
}
.plan__table td {
  padding: 16px;
  border: 1px solid #999999;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 768px) {
  .plan__table td {
    padding: 10px;
  }
}
.plan__table tbody tr:nth-child(even) {
  background-color: #eef4ff;
}
.plan__table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.plan__table tbody td:nth-child(3) {
  border-left: 3px solid #0f19bf;
  border-right: 3px solid #0f19bf;
}

.plan__thead-blank {
  border: none;
}

.plan__thead-free {
  background-color: #999999;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #999999;
}

.plan__thead-pay {
  background-color: #0f19bf;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border: 3px solid #0f19bf;
}

.far.plan__table-circle {
  color: #0f19bf;
  font-size: 24px;
  display: block;
}
@media (max-width: 768px) {
  .far.plan__table-circle {
    font-size: 16px;
  }
}

.plan__table-triangle img {
  width: 30px;
  height: auto;
  display: block;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .plan__table-triangle img {
    width: 20px;
  }
}

.fas.plan__table-cross {
  font-size: 24px;
  color: #e76f51;
  display: block;
}
@media (max-width: 768px) {
  .fas.plan__table-cross {
    font-size: 16px;
  }
}

.plan__price-row .plan__price-row-pay {
  border-bottom: 3px solid #0f19bf;
}

.plan__cta-btn {
  text-align: center;
  margin: 0 auto;
}

.question {
  padding: 48px 24px 64px 24px;
  background-color: #ffffff;
}

.question__card {
  position: relative;
  padding: 24px;
  margin-bottom: 48px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.question__card:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .question__card {
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .question__card {
    padding: 16px;
  }
}

.question__card-ttl {
  font-size: 20px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .question__card-ttl {
    font-size: 16px;
    width: 80%;
    margin-bottom: 0;
  }
}

.question__card-btn {
  top: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  background-color: #0f19bf;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: none;
}
@media (max-width: 768px) {
  .question__card-btn {
    display: block;
  }
}

.question__card-btn::before,
.question__card-btn::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.question__card-btn::before {
  width: 60%;
  height: 3px;
  top: 22px;
  left: 10px;
}

.question__card-btn::after {
  width: 3px;
  height: 60%;
  top: 9px;
  left: 23px;
}

.turn.question__card-btn::before,
.turn.question__card-btn::after {
  transform: translateY(0) rotate(135deg);
}

.question__card-description {
  margin-left: 56px;
}
@media (max-width: 768px) {
  .question__card-description {
    margin-left: 0;
    display: none;
    margin-top: 16px;
  }
}

.start {
  padding: 48px 24px 64px 24px;
  background-color: #eef4ff;
}

.start__contents {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .start__contents {
    flex-wrap: wrap;
  }
}

.start__contents-text {
  margin-right: 56px;
  max-width: 554px;
  width: 100%;
}
@media (max-width: 768px) {
  .start__contents-text {
    max-width: 100%;
    margin-right: 0;
    width: 100%;
    margin-bottom: 24px;
    text-align: justify;
  }
}

.start__text-ttl {
  font-size: 30px;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .start__text-ttl {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .start__text-ttl {
    text-align: center;
  }
}

.start__text-subttl {
  font-size: 16px;
}

.start__contents-btn {
  width: 100%;
  max-width: 430px;
}
@media (max-width: 768px) {
  .start__contents-btn {
    max-width: 100%;
  }
}

.start__btn-group {
  margin-bottom: 32px;
  display: flex;
  max-width: 430px;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .start__btn-group {
    max-width: 100%;
    margin-bottom: 16px;
  }
}

.start__btn-app {
  margin-right: 32px;
  display: block;
}
@media (max-width: 768px) {
  .start__btn-app {
    margin-right: 16px;
    width: 100%;
  }
}
.start__btn-app img {
  width: 200px;
  height: 65px;
}
@media (max-width: 768px) {
  .start__btn-app img {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .start__btn-goo {
    display: block;
    width: 100%;
  }
}
.start__btn-goo img {
  width: 200px;
  height: 65px;
}
@media (max-width: 768px) {
  .start__btn-goo img {
    width: 100%;
  }
}

.footer {
  padding: 48px 24px 64px 24px;
  background: linear-gradient(270deg, #0f19bf, #071359);
}

.footer__contents {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .footer__contents {
    margin-bottom: 24px;
    flex-wrap: wrap;
  }
}
.footer__contents li {
  list-style: none;
  margin-right: 48px;
}
.footer__contents li:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .footer__contents li {
    margin-right: 0;
    width: 100%;
    margin-bottom: 24px;
    text-align: center;
  }
}
.footer__contents li a {
  display: block;
  color: #ffffff;
  font-size: 16px;
}

.footer__contents-copyright {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 768px) {
  .footer__contents-copyright {
    font-size: 16px;
  }
}

.under-construction {
  padding: 144px 24px;
  background-color: #eef4ff;
}
@media (max-width: 768px) {
  .under-construction {
    padding: 30px 20px 50px 20px;
  }
}

.un__contents {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .un__contents {
    flex-wrap: wrap;
    width: 100%;
  }
}

.un__contents-eyecatch {
  width: 40%;
}
@media (max-width: 768px) {
  .un__contents-eyecatch {
    width: 100%;
    padding-left: 50px;
    margin-bottom: 30px;
  }
}
.un__contents-eyecatch img {
  max-width: 526px;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .un__contents-eyecatch img {
    max-width: 100%;
  }
}

.un__contents-text {
  width: 60%;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .un__contents-text {
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
}

.un__text-ttl {
  font-size: 32px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .un__text-ttl {
    font-size: 24px;
  }
}

.un__text-description {
  font-size: 20px;
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .un__text-description {
    font-size: 16px;
  }
}

.un__text-btn {
  padding: 15px 0;
  text-align: center;
  display: block;
  color: #0f19bf;
  max-width: 430px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #0f19bf;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
.un__text-btn:hover {
  box-shadow: none;
  background-color: #0f19bf;
  color: #ffffff;
}
@media (max-width: 768px) {
  .un__text-btn {
    font-size: 16px;
    padding: 10px 0;
    margin: 0 auto;
  }
}

.keyvisual .inner--s {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.keyvisual .inner--s.show {
  opacity: 1;
  transform: translateY(0);
}

.section .inner--s {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.section .inner--s.show {
  opacity: 1;
  transform: translateY(0);
}

.section .inner--m {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.section .inner--m.show {
  opacity: 1;
  transform: translateY(0);
}

.feature__card {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.feature__card.show {
  opacity: 1;
  transform: translateY(0);
}

.un__contents {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.un__contents.show {
  opacity: 1;
  transform: translateY(0);
}/*# sourceMappingURL=style.css.map */