// Color

// Font Color
$fc_black:#363636;
$fc_white:#ffffff;
$fc_glay:#999999;

// Main Color
$mc_blue:#0f19bf;
$mc_gradient-blue:linear-gradient(270deg, #0f19bf, #071359);

// Accent Color
$ac_orange:#e76f51;
$ac_light-orange:rgba(231, 111, 81, 0.4);
$ac_yellow:#ffc107;

// Background Color
$bgc_light-blue:#eef4ff;
$bgc_glay:#f5f5f5;
$bgc_white:#ffffff;



// 以下消す
$MainColor1:#0f19bf;
$MainColor2:#eef4ff;
$MainColor3:#363636;
$BaseColor1:#fff;
$BaseColor2:#f5f5f5;
$BaseColor3:#999999;
$AccentColor1:#e76f51;
$AccentColor2:#ff4500;
$AccentColor3:#ffc107;
$BgMaskColor:rgb(44, 62, 80, 0.9);

$GradationColor:linear-gradient(270deg, #0f19bf, #071359);
$MarkerColor:rgba(231, 111, 81, 0.4);
$GradationPermeColor:linear-gradient(270deg, rgba(15, 25, 191, 0.9), rgba(7, 19, 89, 0.9));